<div class="col-md-10 offset-md-1 col-sm-12 top-pad-50">
    <div class="row">
        <div class="text-center col-md-10 offset-md-1">
            <h2 class="text-success">Muchas Gracias, estamos procesando su pedido</h2>
            <div>
                <p><h5>El pedido se procesará tras la confirmación por parte de la red bitcoin. Por favor, mantenga a continuación los detalles del pedido para referencia.</h5></p>
                <p><strong>{{ @root.__ "Order ID" }}:</strong> {{result._id}}</p>
                <p><strong>{{ @root.__ "Payment ID" }}:</strong> {{result.orderPaymentId}}</p>
            </div>
            <a href="/" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
</div>
